$("ul.tweet-list").append("#{escape_javascript render('tweets/tweet_list', tweets: @tweets[0..-2])}");

$("div.actions").html("#{escape_javascript render('tweets/link_to_tweets', max_id: @tweets.last['id'], tweets: @tweets)}");
